.card {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin: 10px;
  }

  .cards-container {
    width: 40vw; 
    margin: 0px auto;
    display: flow-root;
  }

  .cards-container a:first-child .card {
    margin-top: calc(10px + 10vmin);
  }
  
  .post-details {
    margin-top: calc(10px + 10vmin);
  }

  .post-details:hover {
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .card .container {
    background-color: white;
    border-radius: 5px 5px 0 0;
  }

  /* Add rounded corners to the top left and the top right corner of the image */
.card img {
    border-radius: 0 0 5px 5px;
    width: 100%;
    height: auto;
  }

  .card video {
    border-radius: 0 0 5px 5px;
    width: 100%;
    height: auto;
  }

  .card h4 {
    text-decoration: none;
  }