.App {
  text-align: center;
  background-color: #DAE0E6;
  height: 100%;
}

.App-logo {
  height: 50px;
  pointer-events: none;
  margin: auto 5px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

header .header-content {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 5px;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

footer {
  box-shadow: 4px 4px 8px 8px rgba(0,0,0,0.2);
  padding: 5px 0;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  background-color: white;
  margin-top: 5px;
}

.little-quote {
  font-style: italic;
  font-size: 1vh;
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
